body{
    font-family: verdana;
    color: white;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    text-align: center;
background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("http://cdn1.smartvectorpics.com/images/imagesbase/fpik/speech-bubbles-background-paper-cutout-effect_23-2147486304.jpg");
background-size: cover;
    height: 100vh;
background-position: center;
background-attachment: fixed;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}



button{
    display: inline-block;
    font-size: 50px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
}

.btn:link,
.btn:visited{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: white;
    transition: background-color 0.2s, border 0.2, color 0.2s;

}


.btn-full:link,
.btn-full:visited{
    background-color: #e6de22;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #e6de22;
    color: #e6de22;
}

.btn:hover,
.btn:active{
    background-color: #ef6d17;

}

.btn-full:hover,
.btn-full:active{
    border: 1px solid #ef6d17;
}

.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid #ef6d17;
    color: white;
}