<!DOCTYPE html>

<html>
<head>
	<title>Contact Us!</title>
	<link rel="stylesheet" type="text/css" href="resources/chatbox2.css">
</head>
<body>
	<header class='masthead'>
  <p class='masthead-intro'>Feel free to</p>
  <h1 class='masthead-heading'>ASK US ANYTHING! :)</h1>
</header>
<section class="introduction-section">
    <h1>To send a message</h1>
    <p>Simply click on the bottom right-hand chat bar and ask whatever you'd like!</p>
</section>
<section class = "row ">
                    <a class="home-btn btn btn-full" href="/">Home Page</a>
                </section>



<!-- Start of LiveChat (www.livechatinc.com) code -->
<script type="text/javascript">
window.__lc = window.__lc || {};
window.__lc.license = 9638330;
(function() {
  var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
  lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
})();
</script>
<!-- End of LiveChat code -->
</body>
</html>